.wrapper {
  width: 1920px;
  height: 1224px;
  background: #edf4f7;
  .company {
    position: absolute;
    top: 22px;
    left: 240px;
    background-color: #f0f2f5;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    font-weight: bold;
    color: rgba(23, 177, 247, 1);
  }
  .rightState {
    position: absolute;
    right: 360px;
    top: 31px;
    font-size: 18px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 31px;
  }
  .bigBg {
    position: absolute;
    left: 0px;
    top: 382px;
    width: 1908px;
    height: 842px;
    z-index: 1;
  }
  .ToastBox {
    position: absolute;
    left: 671px;
    top: 261px;
    width: 669px;
    height: 557px;
    box-sizing: border-box;
    padding: 114px 172px 87px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 16px 3px rgba(23, 177, 247, 0.11);
    border-radius: 10px;
    z-index:2;
  }
  .mainBox2 {
    position: absolute;
    left: 671px;
    top: 271px;
    box-sizing: border-box;
    padding: 160px 184px 103px 185px;
    width: 669px;
    height: 557px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 16px 3px rgba(23, 177, 247, 0.11);
    border-radius: 10px;
    z-index:2;
    .title {
      position: absolute;
      top: 86px;
      left: 287px;
      height: 24px;
      font-size: 24px;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      color: rgba(23, 177, 247, 1);
      line-height: 24px;
    }
  }
}
.s_title {
  position: absolute;
  left: 263px;
  top: 114px;
  height: 24px;
  font-size: 24px;
  font-family: MicrosoftYaHei-Bold;
  font-weight: bold;
  color: rgba(23, 177, 247, 1);
  line-height: 24px;
}
.answer {
  width: 324px;
  margin-top: 54px;
  font-size: 18px;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 18px;
}
.s_Btn {
  position: absolute;
  left: 185px;
  bottom: 87px;
  width: 300px;
  height: 40px;
  background: rgba(23, 177, 247, 1);
  border-radius: 4px;
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  color: rgba(255, 255, 255, 1);
}
.Btn {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-family: PingFang-SC-Regular;
  background: rgba(23, 177, 247, 1);
}

.commonInp {
  width: 300px;
  height: 38px;
  border: 1px solid rgba(224, 224, 224, 1);
  margin-bottom: 20px;
}
.commonIcon {
  position: absolute;
  left: 195px;
  margin-top: 12px;
}

.sendVscode_loginState {
  position: absolute;
  padding-left: 19px;
  top: 218px;
  left: 385px;
  display: inline;
  width: 100px;
  height: 38px;
  font-size: 12px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(23, 177, 247, 1);
  line-height: 38px;
  z-index: 10;
}

.sendVscode_loginState:hover {
  cursor: pointer;
}

.sendVscode_loginState::before {
  position: absolute;
  left: 0;
  top: 13px;
  content: "";
  display: inline-block;
  width: 1px;
  height: 15px;
  border: 1px solid rgba(224, 224, 224, 1);
}
