.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container-header {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.response_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.response_content {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-content {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1376px;
  }
  .container-header {
    width: 1376px;
    margin: 0 auto;
  }
}
.w100 {
  width: 100% !important;
}
