.ant-input {
    padding-left: 35px;
    height: 38px;
    width: 300px;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}

.tabContentBox {
    position: relative;
    height: 327px;
    width: 360px;
    box-sizing: border-box;
    padding: 0 30px;
}

.phone {
    position: absolute;
    top: 42px;
}

.phone_icon {
    position: absolute;
    top: 52px;
    left: 40px;
}

.pwd {
    position: absolute;
    top: 98px;
}

.vcode {
    position: absolute;
    top: 113px;
}

.icon_pwd {
    position: absolute;
    top: 108px;
}

.icon_vcode {
    position: absolute;
    top: 124px;
    left: 38px;
}

.checkBox {
    position: absolute;
    left: 30px;
    top: 147px;
}

.loginBtn, .loginBtn2 {
    position: absolute;
    top: 193px;
    width: 300px;
    height: 40px;
    background: rgba(23, 177, 247, 1);
    border-radius: 4px;
}

.loginBtn2 {
    top: 201px !important;
}

.tishi {
    position: absolute;
    padding: 0 30px;
    bottom: 71px;
    height: 12px;
    width: 100%;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    line-height: 12px;
}

.phone_toast {
    position: absolute;
    top: 91px;
    right: 30px;
    width: 100%;
    height: 12px;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(252, 108, 56, 1);
    line-height: 12px;
}

.sendVscode {
    position: absolute;
    padding-left: 19px;
    left: 230px;
    bottom: 176px;
    display: inline;
    width: 100px;
    height: 38px;
    font-size: 12px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(23, 177, 247, 1);
    line-height: 38px;
}

.sendVscode:hover {
    cursor: pointer;
}

.sendVscode::before {
    position: absolute;
    left: 0;
    top: 13px;
    content: "";
    display: inline-block;
    width: 1px;
    height: 15px;
    border: 1px solid rgba(224, 224, 224, 1);
}
.blue a {
    color: #17B1F7 !important;
}
.blue:hover {
    cursor: pointer;
}