.register_mainBox_Toast {
  width: 1200px;
  margin: 75px auto;
  padding: 0 75px;
  padding-top: 40%;
}
.register_mainBox {
  width: 1200px;
  margin: 75px auto;
  padding: 0 75px;
  .mainBox_Toast {
    margin-top: 150px;
    z-index: 10;
  }
  .mainBox {
    position: relative;
    box-sizing: border-box;
    padding: 139px 0;
    width: 669px;
    height: 1052px !important;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 16px 3px rgba(23, 177, 247, 0.11);
    border-radius: 10px;
    z-index: 2;
    .title {
      position: absolute;
      left: 311px;
      top: 75px;
      height: 24px;
      font-size: 24px;
      font-family: MicrosoftYaHei-Bold;
      font-weight: bold;
      color: rgba(23, 177, 247, 1);
      line-height: 24px;
    }

    .leftName {
      float: left;
      width: 196px;
      height: 100%;
      .keyName {
        height: 38px;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
        line-height: 38px;
        margin-bottom: 20px;
        text-align: right;
      }
      .uploadImg {
        height: 107px !important;
        line-height: 107px !important;
        margin-bottom: 14px;
      }
    }
    .rightVal {
      margin-left: 28px;
      float: left;
      width: 362px;
      height: 100%;
      .code_wrap {
        position: relative;
        .sendVscode_register {
          position: absolute;
          padding-left: 19px;
          top: 0;
          right: 0;
          display: inline;
          width: 100px;
          height: 38px;
          font-size: 12px;
          font-family: PingFang-SC-Regular;
          font-weight: 400;
          color: rgba(23, 177, 247, 1);
          line-height: 38px;
          z-index: 10;
        }

        .sendVscode_register:hover {
          cursor: pointer;
        }

        .sendVscode_register::before {
          position: absolute;
          left: 0;
          top: 13px;
          content: "";
          display: inline-block;
          width: 1px;
          height: 15px;
          border: 1px solid rgba(224, 224, 224, 1);
        }
      }
      .normalH {
        height: 38px;
        margin-bottom: 20px;
        line-height: 38px;
      }
      .inputText {
        width: 363px;
        height: 38px;
        background: rgba(244, 244, 244, 1);
        // border: 1px solid rgba(221, 221, 221, 1);
        margin-bottom: 20px !important;
      }
      .ant-form-explain {
        position: absolute;
        top: 39px;
        left: 0;
      }
      .registerBtn {
        margin-top: 25px;
        margin-bottom: 11px;
        width: 300px;
        height: 40px;
        font-size: 18px;
        font-family: PingFang-SC-Regular;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 40px;
        background: rgba(23, 177, 247, 1);
      }
      .xieyi {
        margin-top: 11px;
        height: 13px;
        font-size: 14px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(35, 33, 33, 1);
        line-height: 13px;
      }
      .item_block_fix {
        width: 171px;
        height: 107px;
        .ant-upload {
          width: 171px !important;
          height: 107px !important;
          img {
            width: 100% !important;
            height: 100% !important;
          }
        }
      }
      .item_block {
        position: relative;
        width: 171px;
        height: 107px;
        box-sizing: border-box;
        padding: 27px 0 30px;
        background: rgba(0, 0, 0, 0.5);
        font-size: 14px;
        font-family: MicrosoftYaHei;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        text-align: center;
      }
      .ant-upload-drag-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // position: absolute;
        // top: 0;
        box-sizing: border-box;
        padding: 27px 0 30px;
        height: 107px !important;
        width: 171px;
      }
      .ant-upload.ant-upload-drag {
        position: absolute;
        top: 0;
        width: 171px;
        height: 107px;
        padding: 0 !important;
        background: none !important;
      }

      .ant-upload-list {
        position: absolute;
        top: 107px;
      }
      .ant-upload-list-item {
        margin-top: 0;
        height: 20px;
      }
      .uploadImg {
        height: 107px !important;
        width: 362px;
        margin-bottom: 14px;
      }
      .camera {
        width: 35px;
        height: 26px;
        z-index: 99;
      }
    }
  }
}
