.homePage {
  width: 100%;
  .bigImg {
    position: relative;
    height: 640px;
    // background-image: url("../../assets/big/index.png");
    background-size: 100% 100%;

    .index_qrCode {
      position: absolute;
      top: 327px;
      left: 900px;
      width: 120px;
      height: 120px;
      z-index: 1;
    }
  }
  .loation_wrap {
    background: #f9f9f9;
  }
  .loation {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    padding: 120px 0;
    height: 880px;
    .up {
      width: 1200px;
      display: flex;
      justify-content: center;
      float: left;
      height: 240px;
    }
    .activity_tabs {
      width: 1200px;
      height: 400px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .activity_item {
        flex: 1;
        box-sizing: border-box;
        padding: 80px 20px;
        width: 400px;
        height: 400px;
        background: rgba(255, 255, 255, 1);
        &:hover {
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
          z-index: 2;
          cursor: pointer;
        }
        .content {
          height: 69px;
          .title {
            height: 23px;
            font-size: 22px;
            font-family: MicrosoftYaHei;
            font-weight: bold;
            color: rgba(51, 51, 51, 1);
            line-height: 23px;
          }
          .intro {
            height: 17px;
            font-size: 16px;
            font-family: MicrosoftYaHei;
            font-weight: bold;
            color: rgba(143, 143, 143, 1);
            line-height: 17px;
          }
        }
      }
    }
    h6 {
      position: absolute;
      top: 225px;
      width: 100%;
      text-align: center;
      height: 20px;
      font-size: 20px;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      // color: rgba(143, 143, 143, 1);
      color: #000;
      line-height: 20px;
      z-index: 1;
    }
    .title_box {
      position: relative;
      height: 65px;
      width: 652px;
      .small_hui {
        position: absolute;
        left: 303px;
        top: 58px;
        width: 46px;
        height: 6px;
        background: rgba(143, 143, 143, 1);
      }
      .bg {
        display: flex;
        width: 652px;
        height: 65px;
        font-size: 84px;
        font-family: MicrosoftYaHei;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        line-height: 65px;
        opacity: 0.12;
        span {
          flex: 1;
        }
      }
      .title {
        position: absolute;
        left: 256px;
        top: 0;
        display: inline-block;
        height: 32px;
        font-size: 32px;
        font-family: MicrosoftYaHei;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        line-height: 32px;
      }
    }
  }
}
